.contact-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    margin-top: 10vh;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #aaa;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #999;
    box-shadow: 0 0 3px #999;
  }