.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0c2852, #1e3c72);
    padding: 20px;
}

.register-form {
    max-width: 420px;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    transition: transform 0.3s ease-in-out;
}

.register-form:hover {
    transform: scale(1.02);
}

.register-form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.register-form input:focus {
    border-color: #0c2852;
    box-shadow: 0 0 5px rgba(12, 40, 82, 0.5);
    outline: none;
}

.register-button {
    width: 100%;
    padding: 12px;
    background: #0c2852;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3vh;
}

.register-button:hover {
    background: #011e3d;
    transform: scale(1.05);
}

.logo-container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe (jeśli potrzebne) */
    width: 100%;
    margin-bottom: 20px; /* Opcjonalny odstęp od formularza */
}

.logo {
    display: block;
    margin: 0 auto; /* Wyśrodkowanie */
    max-width: 100%; /* Zapobieganie wychodzeniu poza kontener */
    height: auto; /* Zachowanie proporcji */
}


.flex-container {
    display: flex;
    align-items: center; /* Wyrównanie elementów w pionie */
    gap: 10px; /* Odstęp między `p` a `button` */
    margin-top: 2vh;
}

.bottom-button {
    background: #0c2852;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.bottom-button:hover {
    background: #011e3d;
    transform: scale(1.05);
}

.register-p {
    font-size: 12px;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  